[submodule "ext/zstd"]
	path = ext/zstd
	url = https://github.com/facebook/zstd.git
	branch = v1.5.7
[submodule "ext/whereami-cpp"]
	path = ext/whereami-cpp
	url = https://github.com/nabijaczleweli/whereami-cpp.git
	branch = v1.1.0
[submodule "ext/jsonpp"]
	path = ext/jsonpp
	url = https://github.com/Rapptz/jsonpp.git
	branch = develop
[submodule "ext/inih"]
	path = ext/inih
	url = https://github.com/benhoyt/inih
	branch = r40
